/virtual-env
/notebooks/.ipynb_checkpoints
/encoders/label_encoder.sav
/models/trained_model.sav
/scalers/scaler.sav
src/__pycache__/data.cpython-38.pyc
src/__pycache__/train_diagnosis.cpython-38.pyc
testes.py